@import "tailwindcss";

.container {
  padding: 1rem;
}

/* font style css */

.noto {
  font-family: 'Noto Serif', serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Noto Serif', serif;
  line-height: 50px;
}

h2 {
  font-family: 'Noto Serif', serif;
}

/* banner css start */

.flower img {
  /* height: 484px; */
  width: 100%;
  position: relative;
  top: 50px;
  right: -10px
}

.leaf {
  transform-origin: bottom right;
  animation: leaf-swing 5s ease-in-out infinite;
}

@keyframes leaf-swing {
  0% {
    transform: rotate(0%);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* banner css end */

/* our flower section css start */

.card {
  box-shadow: 0 6.4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

/* our flower section css end */

/* flowers & Plants Lover css start */
.plant-lover-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 80px 0 50px;
  position: relative;
}

.plant-image-container {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 40%, rgba(233, 90, 8, 0.5) 100%), url('../assets/flower.lover-2.jpg');
  background-size: cover;
  background-position: center;
  width: calc(100% - 10px);
  height: auto;
  /* position: relative; */

}
.badge{
  height: 200px;
  width: 200px;
  position: absolute;
  top: -15%;
  right: 45%;
}
@keyframes spin360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge {
  animation: spin360 20s linear infinite;
}

.plant-text-area {
  width: calc(100% - 10px);
  padding: 20px 0;

}

.plant-text-area h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #262626;
}

.plant-text-area ul {
  padding-left: 20px;
}

.plant-text-area ul li {
  font-size: 20px;
  margin: 12px 0;
  list-style: disc;
}

/* flowers & Plants Lover css end */

/* latest deal section start */

 .latest-deal {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.latest-deal>div{
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-deal h4{
 font-size: 1.5em;
 font-weight: bold;
 font-family: 'Noto Serif', serif;
 color: #fff;
}
.latest-deal a{
 font-size: 1.2em;
 font-weight: 500;
 text-decoration: underline;
 color: #fff;
 margin-top: 20px;
}
 #plant-1 {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
}

#plant-2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 70vh;
}

#plant-3 {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
}


.deal-plant-1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/deal-ana.png);
  background-size: cover;
  background-position: center;
}
.deal-plant-2{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/deal-zabo.png);
  background-size: cover;
  background-position: center;
}
.deal-plant-3{
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/deal-bloom.png);
  background-size: cover;
  background-position: center;
}
/* latest deal section end */

/* join section css start */

.join-section{
  background-image: url(../assets/newsletter.jpg);
  background-size: cover;
  background-position:center;
  height: 360px;
  margin: 10px auto 0;
  text-align: center;
}
.join-section h3{
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Noto Serif', serif;
  padding-top: 100px;
  margin-bottom: 30px;
}
.join-section input:focus{
  outline: none;
}
#email{
  width: 40%;
  padding: 10px 20px;
}
#submit{
  background-color: #EA580C;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 0;
  width: 20%;

}
/* join section css end */

/* footer css start */
.footer-logo{
  grid-area: footer-logo;
}
.footer-nav-1{
  grid-area: footer-nav-1;
}
.footer-nav-2{
  grid-area: footer-nav-2;
}
.social-icon{
  grid-area: social-icon;
}
.footer-container{
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "footer-logo footer-nav-1 footer-nav-2 social-icon"
  ;
  padding: 50px 0;
}
.social-icon{
  display: flex;
  /* align-items: center; */
  gap: 20px;
}
.social-icon a{
  font-size: 36px
}

/* footer css end */



/* @media css start */

@media screen and (max-width:640px) {
  .badge{
    display: none;
  }
  .plant-text-area h2 {
    font-size: 2rem;
  }
  #email{
    width: 65%;
  }
  #submit{
    width: 30%;
  }
  .latest-deal {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
  }

  #plant-1,
  #plant-2,
  #plant-3 {
    grid-column: 1 !important;
    grid-row: auto !important;
    height: 50vh;
  }

}

@media screen and (max-width:768px) {
  .plant-lover-container {
    flex-direction: column;
  }

  .plant-lover-container>div {
    width: 100%;
  }

  .plant-image-container {
    height: 70vh;
  }
  .footer-container{
  grid-template-areas: 
  "footer-logo social-icon "
  "footer-nav-1 footer-nav-2"
  ;
}
}
@media screen and (max-width:640px){
    .footer-container {
  display: grid;
  grid-template-areas: 
    "footer-logo"
    "footer-nav-1"
    "footer-nav-2"
    "social-icon";
}
}

/* @media css end */